In [41]:
import pandas as pd
import random

In [42]:
jumlah_cluster = 2
pangkat_pembobotan = 2
maksimum_iterasi = 13
toleransi_error = 0.01
fungsi_objektif = 0
iterasi_awal = 0

# Import Data Fuzzy

In [43]:
data_fuzzy = pd.read_csv('data_kesehatan.csv')
data_fuzzy.head()

       Kelurahan  0-23 Bulan  24-59 Bulan  Total
0       Sepingan           5           12     17
1     Damai Baru           4           10     14
2  Damai Bahagia          17            9     26
3    Telaga Sari           3            7     10
4       Prapatan           2           15     17

In [44]:
len(data_fuzzy)

10

In [45]:
data_fuzzy = data_fuzzy.drop(['Kelurahan', 'Total'], axis=1)
data_fuzzy.head(10)

   0-23 Bulan  24-59 Bulan
0           5           12
1           4           10
2          17            9
3           3            7
4           2           15
5           3           13
6           6           11
7           1            2
8           8           11
9           9           20

# Menentukan Bilangan Random

In [46]:
import random

def generate_random_data():
    a = random.random()
    b = random.random()
    c = random.random()
    
    total = a + b + c
    a /= total
    b /= total
    c /= total
    
    return a, b, c

for i in range(39):
    a, b, c = generate_random_data()
    if sum([a,b,c]) == 1:
        print(f"{round(a,2)},{round(b,2)},{round(c,2)}")

0.39,0.48,0.13
0.06,0.6,0.34
0.4,0.34,0.26
0.54,0.13,0.33
0.85,0.1,0.06
0.01,0.43,0.56
0.14,0.48,0.38
0.27,0.23,0.5
0.19,0.49,0.32
0.39,0.29,0.32
0.21,0.34,0.45
0.37,0.18,0.45
0.19,0.45,0.36
0.0,0.72,0.28
0.59,0.08,0.33
0.22,0.46,0.32
0.28,0.33,0.39
0.27,0.6,0.13
0.3,0.42,0.29
0.51,0.22,0.27
0.33,0.44,0.23
0.5,0.45,0.06
0.19,0.46,0.35
0.41,0.25,0.34
0.15,0.34,0.51
0.12,0.08,0.79
0.77,0.15,0.08
0.28,0.17,0.54
0.17,0.26,0.57
0.32,0.68,0.01

# Import Bilangan Random

In [47]:
bil_random = pd.read_csv('bilangan_random.csv')[:10]

# Mencari $uik^2$

In [48]:
uik2 = []
for index_list, list_data in bil_random.iterrows():
    uikw2 = []
    for index_data, data in enumerate(list_data):
        # print(data, end=' ')
        
        hitung = round(data ** pangkat_pembobotan, 2)
        uikw2.append(hitung)
    uik2.append(uikw2)

for data in uik2:
    print(data)

[0.09, 0.49]
[0.04, 0.64]
[0.16, 0.36]
[0.64, 0.04]
[0.16, 0.36]
[0.49, 0.09]
[0.01, 0.81]
[0.81, 0.01]
[0.36, 0.16]
[0.09, 0.49]

# Mencari Total $uik^2$

In [49]:
total_uiw = []

for kolom in range(len(data_fuzzy.columns)):
    total = 0
    for data in uik2:
        total += data[kolom]
        
    total_uiw.append(round(total,2))

print(total_uiw)

[2.85, 3.45]

In [50]:
uikxij = []

for index_list, list_data in data_fuzzy.iterrows():
    uikw2xij : list = []
    for index_data, data in enumerate(uik2[index_list]):
        uikw2xij_list : list = []
        for index_data2, data2 in enumerate(list_data):
            # print(data, data2, end=',')
            hitung = round(data * data2, 2)
            uikw2xij_list.append(hitung)

        uikw2xij.extend(uikw2xij_list)
    uikxij.append(uikw2xij)

for data in uikxij:
    print(data)
    print()

[0.45, 1.08, 2.45, 5.88]

[0.16, 0.4, 2.56, 6.4]

[2.72, 1.44, 6.12, 3.24]

[1.92, 4.48, 0.12, 0.28]

[0.32, 2.4, 0.72, 5.4]

[1.47, 6.37, 0.27, 1.17]

[0.06, 0.11, 4.86, 8.91]

[0.81, 1.62, 0.01, 0.02]

[2.88, 3.96, 1.28, 1.76]

[0.81, 1.8, 4.41, 9.8]

# Membuat dataframe pusat $cluster V$

### Menentukan nama $uik^2$

In [51]:
nama_uik2 = []
for i in range(len(bil_random.columns)):
    nama_uik2.append(f'ui{i+1}w2')
    
print(nama_uik2)

['ui1w2', 'ui2w2']

### Menentukan nama $uik*xij$

In [52]:
nama_uikxij = []
for i in range(len(nama_uik2)):
    for j in range(len(nama_uik2)):
        nama = f"ui{i+1}wxi{j+1}"
        nama_uikxij.append(nama)

print(nama_uikxij)

['ui1wxi1', 'ui1wxi2', 'ui2wxi1', 'ui2wxi2']

### Memasukkan nama dan nilai ke dataframe

In [53]:
df_pusat_cluster = data_fuzzy.copy()
df_pusat_cluster = df_pusat_cluster.merge(bil_random, left_index=True, right_index=True)
df_pusat_cluster = df_pusat_cluster.merge(pd.DataFrame(uik2, columns=nama_uik2), left_index=True, right_index=True)
df_pusat_cluster = df_pusat_cluster.merge(pd.DataFrame(uikxij, columns=nama_uikxij), left_index=True, right_index=True)
df_pusat_cluster.head(10)

,0-23 Bulan,24-59 Bulan,k1,k2,ui1w2,ui2w2,ui1wxi1,ui1wxi2,ui2wxi1,ui2wxi2
0,5,12,0.3,0.7,0.09,0.49,0.45,1.08,2.45,5.88
1,4,10,0.2,0.8,0.04,0.64,0.16,0.40,2.56,6.40
2,17,9,0.4,0.6,0.16,0.36,2.72,1.44,6.12,3.24
3,3,7,0.8,0.2,0.64,0.04,1.92,4.48,0.12,0.28
4,2,15,0.4,0.6,0.16,0.36,0.32,2.40,0.72,5.40
5,3,13,0.7,0.3,0.49,0.09,1.47,6.37,0.27,1.17
6,6,11,0.1,0.9,0.01,0.81,0.06,0.11,4.86,8.91
7,1,2,0.9,0.1,0.81,0.01,0.81,1.62,0.01,0.02
8,8,11,0.6,0.4,0.36,0.16,2.88,3.96,1.28,1.76
9,9,20,0.3,0.7,0.09,0.49,0.81,1.80,4.41,9.80

# Mencari Total $uiwxi$

In [54]:
total_uiwxi = []
for nama in nama_uikxij:
    total = round(df_pusat_cluster[nama].sum(), 2)
    total_uiwxi.append(total)

print(total_uiwxi)

[11.6, 23.66, 22.8, 42.86]

# Mencari Pusat $Cluster V$

In [55]:
index_uiw = 0
pusat_cluster = [[] for i in range(jumlah_cluster)]
for index_uiwxi , data in enumerate(total_uiwxi):
    # print(data, total_uiw[index_uiw])
    hitung = data / total_uiw[index_uiw]
    pusat_cluster[index_uiw].append(hitung)

    if (index_uiwxi + 1) % jumlah_cluster == 0:
        index_uiw += 1

df_vkj = pd.DataFrame(pusat_cluster)
df_vkj.head()

          0          1
0  4.070175   8.301754
1  6.608696  12.423188

# Menghitung Fungsi Objektifitas dengan rumus \n
### Rumus $P_1 = \sum_{i=1}^{10} \sum_{k=1}^2 ([\sum_{j=1}^2(X_{ij}- V_kj)^2](\mu_{ik})^2)$

In [56]:
list_objektif = [[] for i in range(jumlah_cluster)]

for index_data, data in enumerate(data_fuzzy.values):
    for index_cluster, cluster in enumerate(pusat_cluster):
        no_cluster = []
        for index_fuzzy, fuzzy in enumerate(data):
            hitung = (fuzzy - cluster[index_fuzzy]) ** 2
            # print(index_cluster, ":" ,fuzzy, "*" ,cluster[index_fuzzy], "=" , hitung)

            no_cluster.append(hitung)
        list_objektif[index_cluster].append(no_cluster)

In [57]:
for objektif in list_objektif:
    for index, data in enumerate(objektif):
        print(data, end=',')
    print()

[0.8645737149892287, 13.677020621729763],[0.004924592182209817, 2.884038165589412],[167.18036318867348, 0.4875469375192366],[1.145275469375191, 1.694564481378886],[4.285626346568172, 44.866494305940286],[1.145275469375191, 22.07351184979994],[3.7242228377962476, 7.280529393659587],[9.425977223761153, 39.71210834102801],[15.443521083410285, 7.280529393659587],[24.303170206217303, 136.84895044629116],
[2.5879017013232515, 0.17908842680109138],[6.805293005671078, 5.871842049989493],[107.97920604914933, 11.718218861583694],[13.022684310018905, 29.410972484772095],[21.24007561436673, 6.639957992018489],[13.022684310018905, 0.3327116152068904],[0.37051039697542537, 2.0254652383952925],[31.457466918714555, 108.6428565427431],[1.935727788279773, 2.0254652383952925],[5.718336483931947, 57.408073934047486],

### Membuat Data Frame Cluster

In [58]:
df_cluster = []
nama_kolom_cluster = [f"xi{i+1}_vi{i+1}" for i in range(jumlah_cluster)]
nama_kolom_cluster.append('total')

for index_objektif, objektif in enumerate(list_objektif):
    df_nilai = pd.DataFrame(columns=nama_kolom_cluster)
    for index_nilai, nilai in enumerate(objektif):
        total = sum(nilai)
        nilai.append(total)
        df_nilai.loc[index_nilai] = nilai
    df_cluster.append(df_nilai)

### Menampilkan Cluster 1

In [59]:
df_cluster[0].head()

      xi1_vi1    xi2_vi2       total
0    0.864574  13.677021   14.541594
1    0.004925   2.884038    2.888963
2  167.180363   0.487547  167.667910
3    1.145275   1.694564    2.839840
4    4.285626  44.866494   49.152121

### Menampilkan Cluster 2

In [60]:
df_cluster[1].head()

      xi1_vi1    xi2_vi2       total
0    2.587902   0.179088    2.766990
1    6.805293   5.871842   12.677135
2  107.979206  11.718219  119.697425
3   13.022684  29.410972   42.433657
4   21.240076   6.639958   27.880034

### Menampilkan Cluster 3

In [61]:
df_cluster[2].head()

IndexError: list index out of range

### Menghitung fungsi objektifitas pada suatu iterasi

In [ ]:
p_cluster = []

for index_cluster, cluster in enumerate(df_cluster):
    hitung_cluster = []
    for index_data, data in enumerate(cluster['total']):
        hitung = data * uik2[index_data][index_cluster]
        hitung_cluster.append(hitung)

    p_cluster.append(hitung_cluster)

In [ ]:
for total in p_cluster:
    print(total)

[1.3087434903047093, 0.11555851031086486, 26.826865620190834, 1.8174975684826091, 7.864339304401353, 11.377205786395812, 0.11004752231455836, 39.80184930747922, 8.180658171745154, 14.503690858725761]
[1.3558251627809281, 8.113366435622765, 43.09107296786389, 1.6973462717916399, 10.036812098298679, 1.2019856332703214, 1.9407402646502816, 1.4010032346145767, 0.6337908842680104, 30.931941104809923]

In [ ]:
p_total = []

for i in range(len(p_cluster[0])):
    total = 0
    for j in range(jumlah_cluster):
        total += p_cluster[j][i]

    p_total.append(total)

In [ ]:
for total in p_total:
    print(total)

2.664568653085637
8.228924945933631
69.91793858805472
3.5148438402742492
17.90115140270003
12.579191419666135
2.05078778696484
41.2028525420938
8.814449056013165
45.435631963535684

In [ ]:
sum_p_total = sum(p_total)
print(sum_p_total)

212.31034019832188

# Menghitung perubahan matriks partisi U

### $\mu_{ik} = \frac{[\sum_{j=1}^m(X_{ij}-V_{kj})^2]^{\frac{-1}{w-1}}}{\sum_{k=1}^c[\sum_{j=1}^m(X_{ij}-V_{kj})^2]^{\frac{-1}{w-1}}}$

In [ ]:
list_xijvkj2 = [[] for i in range(jumlah_cluster ** pangkat_pembobotan)]
index_xij = 0
for index_cluster, cluster in enumerate(pusat_cluster):
    for index_fuzzy, fuzzy in enumerate(data_fuzzy.columns):
        for index_data, data in enumerate(data_fuzzy[fuzzy]):
            hitung = (data - cluster[index_fuzzy]) ** 2
            print(data, cluster[index_fuzzy], " = ", hitung)
            list_xijvkj2[index_xij].append(hitung)
        print()
        index_xij += 1
    print()

5 4.070175438596491  =  0.8645737149892287
4 4.070175438596491  =  0.004924592182209817
17 4.070175438596491  =  167.18036318867348
3 4.070175438596491  =  1.145275469375191
2 4.070175438596491  =  4.285626346568172
3 4.070175438596491  =  1.145275469375191
6 4.070175438596491  =  3.7242228377962476
1 4.070175438596491  =  9.425977223761153
8 4.070175438596491  =  15.443521083410285
9 4.070175438596491  =  24.303170206217303

12 8.301754385964912  =  13.677020621729763
10 8.301754385964912  =  2.884038165589412
9 8.301754385964912  =  0.4875469375192366
7 8.301754385964912  =  1.694564481378886
15 8.301754385964912  =  44.866494305940286
13 8.301754385964912  =  22.07351184979994
11 8.301754385964912  =  7.280529393659587
2 8.301754385964912  =  39.71210834102801
11 8.301754385964912  =  7.280529393659587
20 8.301754385964912  =  136.84895044629116


5 6.608695652173913  =  2.5879017013232515
4 6.608695652173913  =  6.805293005671078
17 6.608695652173913  =  107.97920604914933
3 6.608695652173913  =  13.022684310018905
2 6.608695652173913  =  21.24007561436673
3 6.608695652173913  =  13.022684310018905
6 6.608695652173913  =  0.37051039697542537
1 6.608695652173913  =  31.457466918714555
8 6.608695652173913  =  1.935727788279773
9 6.608695652173913  =  5.718336483931947

12 12.4231884057971  =  0.17908842680109138
10 12.4231884057971  =  5.871842049989493
9 12.4231884057971  =  11.718218861583694
7 12.4231884057971  =  29.410972484772095
15 12.4231884057971  =  6.639957992018489
13 12.4231884057971  =  0.3327116152068904
11 12.4231884057971  =  2.0254652383952925
2 12.4231884057971  =  108.6428565427431
11 12.4231884057971  =  2.0254652383952925
20 12.4231884057971  =  57.408073934047486

In [ ]:
for xij in list_xijvkj2:
    print(xij)

[0.8645737149892287, 0.004924592182209817, 167.18036318867348, 1.145275469375191, 4.285626346568172, 1.145275469375191, 3.7242228377962476, 9.425977223761153, 15.443521083410285, 24.303170206217303]
[13.677020621729763, 2.884038165589412, 0.4875469375192366, 1.694564481378886, 44.866494305940286, 22.07351184979994, 7.280529393659587, 39.71210834102801, 7.280529393659587, 136.84895044629116]
[2.5879017013232515, 6.805293005671078, 107.97920604914933, 13.022684310018905, 21.24007561436673, 13.022684310018905, 0.37051039697542537, 31.457466918714555, 1.935727788279773, 5.718336483931947]
[0.17908842680109138, 5.871842049989493, 11.718218861583694, 29.410972484772095, 6.639957992018489, 0.3327116152068904, 2.0254652383952925, 108.6428565427431, 2.0254652383952925, 57.408073934047486]

In [ ]:
index_lt = 0
total_lt = []
for index_data, data in enumerate(list_xijvkj2[0]):
    total_angka = 0
    for index_list, list_total in enumerate(list_xijvkj2):
        total_angka += list_xijvkj2[index_list][index_data]
        
    total_lt.append(total_angka)

for data in total_lt:
    print(data)

17.308584464843335
15.566097813432194
287.3653350369257
45.273496745545074
77.03215425889368
36.57418324440092
13.400727866826553
189.2384090262468
26.68524350374494
224.2785310704879

In [ ]:
ui1 = [[] for i in range(jumlah_cluster)]

for i in range(jumlah_cluster):
    for index_data, data in enumerate(total_lt):
        angka1 = list_xijvkj2[2 * i][index_data]
        angka2 = list_xijvkj2[2 * i + 1][index_data]
        total_angka = angka1 + angka2
        hasil = total_angka / data
        ui1[i].append(hasil)

for data in ui1:
    print(data)

[0.8401376996631603, 0.18559325480267105, 0.583466026285487, 0.06272632234958785, 0.6380727778599499, 0.6348408975812099, 0.8212055599381325, 0.25966232657332183, 0.8515586703895296, 0.7185356524466464]
[0.15986230033683968, 0.8144067451973289, 0.4165339737145129, 0.9372736776504121, 0.3619272221400501, 0.3651591024187901, 0.1787944400618675, 0.7403376734266782, 0.14844132961047035, 0.28146434755335364]