In [71]:
import pandas as pd
import random

In [72]:
jumlah_cluster = 3
pangkat_pembobotan = 2
maksimum_iterasi = 10
toleransi_error = 0.01
fungsi_objektif = 0
iterasi_awal = 0

# Import Data Fuzzy

In [73]:
data_fuzzy = pd.read_csv('data_kesehatan.csv')[:10]
data_fuzzy.head()

  Kota / Kabupaten  Imunisasi  Alat KB  Harapan Hidup
0          Pacitan      71.96    62.11          72.86
1         Ponorogo      70.82    58.13          73.55
2       Trenggalek      74.80    63.88          74.64
3      Tulungagung      81.09    59.02          74.91
4           Blitar      77.55    61.15          74.34

In [74]:
len(data_fuzzy)

10

In [75]:
data_fuzzy = data_fuzzy.drop(['Kota / Kabupaten'], axis=1)
data_fuzzy.head(10)

   Imunisasi  Alat KB  Harapan Hidup
0      71.96    62.11          72.86
1      70.82    58.13          73.55
2      74.80    63.88          74.64
3      81.09    59.02          74.91
4      77.55    61.15          74.34
5      63.94    56.70          73.27
6      59.48    66.18          73.26
7      56.28    69.76          70.96
8      63.93    70.69          70.03
9      57.68    64.84          71.38

# Menentukan Bilangan Random

In [76]:
import random

def generate_random_data():
    a = random.random()
    b = random.random()
    c = random.random()
    
    total = a + b + c
    a /= total
    b /= total
    c /= total
    
    return a, b, c

for i in range(39):
    a, b, c = generate_random_data()
    if sum([a,b,c]) == 1:
        print(f"{round(a,2)},{round(b,2)},{round(c,2)}")

0.4,0.34,0.26
0.38,0.24,0.37
0.22,0.38,0.4
0.07,0.85,0.08
0.09,0.84,0.06
0.53,0.03,0.44
0.47,0.38,0.15
0.43,0.17,0.4
0.54,0.04,0.42
0.35,0.33,0.32
0.46,0.12,0.42
0.48,0.33,0.18
0.31,0.25,0.45
0.38,0.32,0.3
0.06,0.18,0.76
0.63,0.07,0.31
0.35,0.05,0.6
0.49,0.22,0.29
0.46,0.19,0.35
0.16,0.74,0.1
0.42,0.24,0.34
0.53,0.15,0.32
0.0,0.97,0.03
0.51,0.26,0.22
0.51,0.2,0.29
0.26,0.16,0.58
0.43,0.09,0.48
0.14,0.44,0.42
0.37,0.37,0.26
0.34,0.2,0.46
0.44,0.24,0.32
0.46,0.14,0.4

# Import Bilangan Random

In [77]:
bil_random = pd.read_csv('bilangan_random2.csv')[:10]

# Mencari $uik^2$

In [78]:
uik2 = []
for index_list, list_data in bil_random.iterrows():
    uikw2 = []
    for index_data, data in enumerate(list_data):
        # print(data, end=' ')
        
        hitung = round(data ** pangkat_pembobotan, 2)
        uikw2.append(hitung)
    uik2.append(uikw2)

for data in uik2:
    print(data)

[0.08, 0.24, 0.05]
[0.38, 0.02, 0.06]
[0.08, 0.06, 0.22]
[0.04, 0.18, 0.14]
[0.21, 0.0, 0.24]
[0.31, 0.17, 0.0]
[0.17, 0.07, 0.1]
[0.04, 0.28, 0.08]
[0.27, 0.01, 0.16]
[0.06, 0.01, 0.41]

# Mencari Total $uik^2$

In [79]:
total_uiw = []

for kolom in range(len(data_fuzzy.columns)):
    total = 0
    for data in uik2:
        total += data[kolom]
        
    total_uiw.append(round(total,2))

print(total_uiw)

[1.64, 1.04, 1.46]

In [80]:
uikxij = []

for index_list, list_data in data_fuzzy.iterrows():
    uikw2xij : list = []
    for index_data, data in enumerate(uik2[index_list]):
        uikw2xij_list : list = []
        for index_data2, data2 in enumerate(list_data):
            # print(data, data2, end=',')
            hitung = round(data * data2, 2)
            uikw2xij_list.append(hitung)

        uikw2xij.extend(uikw2xij_list)
    uikxij.append(uikw2xij)

for data in uikxij:
    print(data)
    print()

[5.76, 4.97, 5.83, 17.27, 14.91, 17.49, 3.6, 3.11, 3.64]

[26.91, 22.09, 27.95, 1.42, 1.16, 1.47, 4.25, 3.49, 4.41]

[5.98, 5.11, 5.97, 4.49, 3.83, 4.48, 16.46, 14.05, 16.42]

[3.24, 2.36, 3.0, 14.6, 10.62, 13.48, 11.35, 8.26, 10.49]

[16.29, 12.84, 15.61, 0.0, 0.0, 0.0, 18.61, 14.68, 17.84]

[19.82, 17.58, 22.71, 10.87, 9.64, 12.46, 0.0, 0.0, 0.0]

[10.11, 11.25, 12.45, 4.16, 4.63, 5.13, 5.95, 6.62, 7.33]

[2.25, 2.79, 2.84, 15.76, 19.53, 19.87, 4.5, 5.58, 5.68]

[17.26, 19.09, 18.91, 0.64, 0.71, 0.7, 10.23, 11.31, 11.2]

[3.46, 3.89, 4.28, 0.58, 0.65, 0.71, 23.65, 26.58, 29.27]

# Membuat dataframe pusat $cluster V$

### Menentukan nama $uik^2$

In [81]:
nama_uik2 = []
for i in range(len(bil_random.columns)):
    nama_uik2.append(f'ui{i+1}w2')
    
print(nama_uik2)

['ui1w2', 'ui2w2', 'ui3w2']

### Menentukan nama $uik*xij$

In [82]:
nama_uikxij = []
for i in range(len(nama_uik2)):
    for j in range(len(nama_uik2)):
        nama = f"ui{i+1}wxi{j+1}"
        nama_uikxij.append(nama)

print(nama_uikxij)

['ui1wxi1', 'ui1wxi2', 'ui1wxi3', 'ui2wxi1', 'ui2wxi2', 'ui2wxi3', 'ui3wxi1', 'ui3wxi2', 'ui3wxi3']

### Memasukkan nama dan nilai ke dataframe

In [83]:
df_pusat_cluster = data_fuzzy.copy()
df_pusat_cluster = df_pusat_cluster.merge(bil_random, left_index=True, right_index=True)
df_pusat_cluster = df_pusat_cluster.merge(pd.DataFrame(uik2, columns=nama_uik2), left_index=True, right_index=True)
df_pusat_cluster = df_pusat_cluster.merge(pd.DataFrame(uikxij, columns=nama_uikxij), left_index=True, right_index=True)
df_pusat_cluster.head(10)

,Imunisasi,Alat KB,Harapan Hidup,k1,k2,k3,ui1w2,ui2w2,ui3w2,ui1wxi1,ui1wxi2,ui1wxi3,ui2wxi1,ui2wxi2,ui2wxi3,ui3wxi1,ui3wxi2,ui3wxi3
0,71.96,62.11,72.86,0.29,0.49,0.22,0.08,0.24,0.05,5.76,4.97,5.83,17.27,14.91,17.49,3.60,3.11,3.64
1,70.82,58.13,73.55,0.62,0.14,0.24,0.38,0.02,0.06,26.91,22.09,27.95,1.42,1.16,1.47,4.25,3.49,4.41
2,74.80,63.88,74.64,0.28,0.24,0.47,0.08,0.06,0.22,5.98,5.11,5.97,4.49,3.83,4.48,16.46,14.05,16.42
3,81.09,59.02,74.91,0.19,0.43,0.38,0.04,0.18,0.14,3.24,2.36,3.00,14.60,10.62,13.48,11.35,8.26,10.49
4,77.55,61.15,74.34,0.46,0.05,0.49,0.21,0.00,0.24,16.29,12.84,15.61,0.00,0.00,0.00,18.61,14.68,17.84
5,63.94,56.70,73.27,0.56,0.41,0.03,0.31,0.17,0.00,19.82,17.58,22.71,10.87,9.64,12.46,0.00,0.00,0.00
6,59.48,66.18,73.26,0.41,0.27,0.32,0.17,0.07,0.10,10.11,11.25,12.45,4.16,4.63,5.13,5.95,6.62,7.33
7,56.28,69.76,70.96,0.19,0.53,0.29,0.04,0.28,0.08,2.25,2.79,2.84,15.76,19.53,19.87,4.50,5.58,5.68
8,63.93,70.69,70.03,0.52,0.08,0.40,0.27,0.01,0.16,17.26,19.09,18.91,0.64,0.71,0.70,10.23,11.31,11.20
9,57.68,64.84,71.38,0.24,0.12,0.64,0.06,0.01,0.41,3.46,3.89,4.28,0.58,0.65,0.71,23.65,26.58,29.27

# Mencari Total $uiwxi$

In [84]:
total_uiwxi = []
for nama in nama_uikxij:
    total = round(df_pusat_cluster[nama].sum(), 2)
    total_uiwxi.append(total)

print(total_uiwxi)

[111.08, 101.97, 119.55, 69.79, 65.68, 75.79, 98.6, 93.68, 106.28]

# Mencari Pusat $Cluster V$

In [85]:
index_uiw = 0
pusat_cluster = [[] for i in range(jumlah_cluster)]
for index_uiwxi , data in enumerate(total_uiwxi):
    # print(data, total_uiw[index_uiw])
    hitung = data / total_uiw[index_uiw]
    pusat_cluster[index_uiw].append(hitung)

    if (index_uiwxi + 1) % jumlah_cluster == 0:
        index_uiw += 1

df_vkj = pd.DataFrame(pusat_cluster)
df_vkj.head()

           0          1          2
0  67.731707  62.176829  72.896341
1  67.105769  63.153846  72.875000
2  67.534247  64.164384  72.794521

# Menghitung Fungsi Objektifitas dengan rumus \n
### Rumus $P_1 = \sum_{i=1}^{10} \sum_{k=1}^2 ([\sum_{j=1}^2(X_{ij}- V_kj)^2](\mu_{ik})^2)$

In [86]:
list_objektif = [[] for i in range(jumlah_cluster)]

for index_data, data in enumerate(data_fuzzy.values):
    for index_cluster, cluster in enumerate(pusat_cluster):
        no_cluster = []
        for index_fuzzy, fuzzy in enumerate(data):
            hitung = (fuzzy - cluster[index_fuzzy]) ** 2
            # print(index_cluster, ":" ,fuzzy, "*" ,cluster[index_fuzzy], "=" , hitung)

            no_cluster.append(hitung)
        list_objektif[index_cluster].append(no_cluster)

In [87]:
for objektif in list_objektif:
    for index, data in enumerate(objektif):
        print(data, end=',')
    print()

[17.878459012492492, 0.004466151100535819, 0.0013207019631178885],[9.537551695419337, 16.376827126710293, 0.42726948245090657],[49.96076145151688, 2.9007905413444375, 3.0403450922069903],[178.4439834027365, 9.965571029149313, 4.0548207019630675],[96.3988712076144, 1.054378346222495, 2.0841499702557837],[14.377044378346259, 29.995658834027363, 0.1396207019631075],[68.09067364663899, 16.02537590719813, 0.13224753123140703],[131.14160047590724, 57.50447834622253, 3.749418262938786],[14.452978524687706, 72.47407590719801, 8.215913384889992],[101.03681998810238, 7.0924783462224905, 2.2992914336704753],
[23.56355636094659, 1.089614792899423, 0.00022500000000001704],[13.795510207100468, 25.239030177514834, 0.45562499999999617],[59.20118713017732, 0.5272994082840179, 3.115225000000002],[195.5587102071004, 17.088684023668666, 4.141224999999986],[109.08195636094648, 4.015399408284056, 2.14622500000001],[10.022094822485284, 41.65213017751484, 0.15602499999999686],[58.152356360946946, 9.157607100591717, 0.14822500000000394],[117.19727943787001, 43.64126863905324, 3.667225000000024],[10.085510207100656, 56.79361479289928, 8.094024999999993],[88.84512559171617, 2.8431147928993976, 2.2350250000000136],
[19.587293375867844, 4.2204918183524525, 0.004287558641395295],[10.796175567648676, 36.41378496903743, 0.5707492024769995],[52.79117282792266, 0.08087401013323722, 3.4057944079564453],[183.7584509101146, 26.464682229311382, 4.475253312066014],[100.3153166635391, 9.086508256708642, 2.3885067367235804],[12.918608444361052, 55.717021955338815, 0.2260807093263183],[64.87088789641587, 4.0627096265715785, 0.21667112028523108],[126.65806597860757, 31.310923325201678, 3.3654656408332215],[12.990593375867888, 42.58366990054404, 7.642573860011285],[97.1061755676487, 0.4564575717770606, 2.0008683805592336],

### Membuat Data Frame Cluster

In [88]:
df_cluster = []
nama_kolom_cluster = [f"xi{i+1}_vi{i+1}" for i in range(jumlah_cluster)]
nama_kolom_cluster.append('total')

for index_objektif, objektif in enumerate(list_objektif):
    df_nilai = pd.DataFrame(columns=nama_kolom_cluster)
    for index_nilai, nilai in enumerate(objektif):
        total = sum(nilai)
        nilai.append(total)
        df_nilai.loc[index_nilai] = nilai
    df_cluster.append(df_nilai)

### Menampilkan Cluster 1

In [89]:
df_cluster[0].head()

      xi1_vi1    xi2_vi2   xi3_vi3       total
0   17.878459   0.004466  0.001321   17.884246
1    9.537552  16.376827  0.427269   26.341648
2   49.960761   2.900791  3.040345   55.901897
3  178.443983   9.965571  4.054821  192.464375
4   96.398871   1.054378  2.084150   99.537400

### Menampilkan Cluster 2

In [90]:
df_cluster[1].head()

      xi1_vi1    xi2_vi2   xi3_vi3       total
0   23.563556   1.089615  0.000225   24.653396
1   13.795510  25.239030  0.455625   39.490165
2   59.201187   0.527299  3.115225   62.843712
3  195.558710  17.088684  4.141225  216.788619
4  109.081956   4.015399  2.146225  115.243581

### Menampilkan Cluster 3

In [91]:
df_cluster[2].head()

      xi1_vi1    xi2_vi2   xi3_vi3       total
0   19.587293   4.220492  0.004288   23.812073
1   10.796176  36.413785  0.570749   47.780710
2   52.791173   0.080874  3.405794   56.277841
3  183.758451  26.464682  4.475253  214.698386
4  100.315317   9.086508  2.388507  111.790332

### Menghitung fungsi objektifitas pada suatu iterasi

In [92]:
p_cluster = []

for index_cluster, cluster in enumerate(df_cluster):
    hitung_cluster = []
    for index_data, data in enumerate(cluster['total']):
        hitung = data * uik2[index_data][index_cluster]
        hitung_cluster.append(hitung)

    p_cluster.append(hitung_cluster)

In [ ]:
for total in p_cluster:
    print(total)

10
10
10

In [94]:
p_total = []

for i in range(len(p_cluster[0])):
    total = 0
    for j in range(jumlah_cluster):
        total += p_cluster[j][i]

    p_total.append(total)

In [95]:
for total in p_total:
    print(total)

8.538158383810618
13.666472247782696
20.623899533235857
76.77830057010127
47.732533497732575
22.60996291344441
25.959310561096625
66.66419274051266
36.553026752357155
48.385983663119724

In [96]:
sum_p_total = sum(p_total)
print(sum_p_total)

367.5118408631935

# Menghitung perubahan matriks partisi U

### $\mu_{ik} = \frac{[\sum_{j=1}^m(X_{ij}-V_{kj})^2]^{\frac{-1}{w-1}}}{\sum_{k=1}^c[\sum_{j=1}^m(X_{ij}-V_{kj})^2]^{\frac{-1}{w-1}}}$

In [97]:
list_xijvkj2 = [[] for i in range(jumlah_cluster ** pangkat_pembobotan)]
index_xij = 0
for index_cluster, cluster in enumerate(pusat_cluster):
    for index_fuzzy, fuzzy in enumerate(data_fuzzy.columns):
        for index_data, data in enumerate(data_fuzzy[fuzzy]):
            hitung = (data - cluster[index_fuzzy]) ** 2
            print(data, cluster[index_fuzzy], " = ", hitung)
            list_xijvkj2[index_xij].append(hitung)
        print()
        index_xij += 1
    print()

71.96 67.73170731707317  =  17.878459012492492
70.82 67.73170731707317  =  9.537551695419337
74.8 67.73170731707317  =  49.96076145151688
81.09 67.73170731707317  =  178.4439834027365
77.55 67.73170731707317  =  96.3988712076144
63.94 67.73170731707317  =  14.377044378346259
59.48 67.73170731707317  =  68.09067364663899
56.28 67.73170731707317  =  131.14160047590724
63.93 67.73170731707317  =  14.452978524687706
57.68 67.73170731707317  =  101.03681998810238

62.11 62.176829268292686  =  0.004466151100535819
58.13 62.176829268292686  =  16.376827126710293
63.88 62.176829268292686  =  2.9007905413444375
59.02 62.176829268292686  =  9.965571029149313
61.15 62.176829268292686  =  1.054378346222495
56.7 62.176829268292686  =  29.995658834027363
66.18 62.176829268292686  =  16.02537590719813
69.76 62.176829268292686  =  57.50447834622253
70.69 62.176829268292686  =  72.47407590719801
64.84 62.176829268292686  =  7.0924783462224905

72.86 72.89634146341464  =  0.0013207019631178885
73.55 72.89634146341464  =  0.42726948245090657
74.64 72.89634146341464  =  3.0403450922069903
74.91 72.89634146341464  =  4.0548207019630675
74.34 72.89634146341464  =  2.0841499702557837
73.27 72.89634146341464  =  0.1396207019631075
73.26 72.89634146341464  =  0.13224753123140703
70.96 72.89634146341464  =  3.749418262938786
70.03 72.89634146341464  =  8.215913384889992
71.38 72.89634146341464  =  2.2992914336704753


71.96 67.10576923076924  =  23.56355636094659
70.82 67.10576923076924  =  13.795510207100468
74.8 67.10576923076924  =  59.20118713017732
81.09 67.10576923076924  =  195.5587102071004
77.55 67.10576923076924  =  109.08195636094648
63.94 67.10576923076924  =  10.022094822485284
59.48 67.10576923076924  =  58.152356360946946
56.28 67.10576923076924  =  117.19727943787001
63.93 67.10576923076924  =  10.085510207100656
57.68 67.10576923076924  =  88.84512559171617

62.11 63.15384615384616  =  1.089614792899423
58.13 63.15384615384616  =  25.239030177514834
63.88 63.15384615384616  =  0.5272994082840179
59.02 63.15384615384616  =  17.088684023668666
61.15 63.15384615384616  =  4.015399408284056
56.7 63.15384615384616  =  41.65213017751484
66.18 63.15384615384616  =  9.157607100591717
69.76 63.15384615384616  =  43.64126863905324
70.69 63.15384615384616  =  56.79361479289928
64.84 63.15384615384616  =  2.8431147928993976

72.86 72.875  =  0.00022500000000001704
73.55 72.875  =  0.45562499999999617
74.64 72.875  =  3.115225000000002
74.91 72.875  =  4.141224999999986
74.34 72.875  =  2.14622500000001
73.27 72.875  =  0.15602499999999686
73.26 72.875  =  0.14822500000000394
70.96 72.875  =  3.667225000000024
70.03 72.875  =  8.094024999999993
71.38 72.875  =  2.2350250000000136


71.96 67.53424657534246  =  19.587293375867844
70.82 67.53424657534246  =  10.796175567648676
74.8 67.53424657534246  =  52.79117282792266
81.09 67.53424657534246  =  183.7584509101146
77.55 67.53424657534246  =  100.3153166635391
63.94 67.53424657534246  =  12.918608444361052
59.48 67.53424657534246  =  64.87088789641587
56.28 67.53424657534246  =  126.65806597860757
63.93 67.53424657534246  =  12.990593375867888
57.68 67.53424657534246  =  97.1061755676487

62.11 64.16438356164385  =  4.2204918183524525
58.13 64.16438356164385  =  36.41378496903743
63.88 64.16438356164385  =  0.08087401013323722
59.02 64.16438356164385  =  26.464682229311382
61.15 64.16438356164385  =  9.086508256708642
56.7 64.16438356164385  =  55.717021955338815
66.18 64.16438356164385  =  4.0627096265715785
69.76 64.16438356164385  =  31.310923325201678
70.69 64.16438356164385  =  42.58366990054404
64.84 64.16438356164385  =  0.4564575717770606

72.86 72.79452054794521  =  0.004287558641395295
73.55 72.79452054794521  =  0.5707492024769995
74.64 72.79452054794521  =  3.4057944079564453
74.91 72.79452054794521  =  4.475253312066014
74.34 72.79452054794521  =  2.3885067367235804
73.27 72.79452054794521  =  0.2260807093263183
73.26 72.79452054794521  =  0.21667112028523108
70.96 72.79452054794521  =  3.3654656408332215
70.03 72.79452054794521  =  7.642573860011285
71.38 72.79452054794521  =  2.0008683805592336

In [98]:
for xij in list_xijvkj2:
    print(xij)

[17.878459012492492, 9.537551695419337, 49.96076145151688, 178.4439834027365, 96.3988712076144, 14.377044378346259, 68.09067364663899, 131.14160047590724, 14.452978524687706, 101.03681998810238]
[0.004466151100535819, 16.376827126710293, 2.9007905413444375, 9.965571029149313, 1.054378346222495, 29.995658834027363, 16.02537590719813, 57.50447834622253, 72.47407590719801, 7.0924783462224905]
[0.0013207019631178885, 0.42726948245090657, 3.0403450922069903, 4.0548207019630675, 2.0841499702557837, 0.1396207019631075, 0.13224753123140703, 3.749418262938786, 8.215913384889992, 2.2992914336704753]
[23.56355636094659, 13.795510207100468, 59.20118713017732, 195.5587102071004, 109.08195636094648, 10.022094822485284, 58.152356360946946, 117.19727943787001, 10.085510207100656, 88.84512559171617]
[1.089614792899423, 25.239030177514834, 0.5272994082840179, 17.088684023668666, 4.015399408284056, 41.65213017751484, 9.157607100591717, 43.64126863905324, 56.79361479289928, 2.8431147928993976]
[0.00022500000000001704, 0.45562499999999617, 3.115225000000002, 4.141224999999986, 2.14622500000001, 0.15602499999999686, 0.14822500000000394, 3.667225000000024, 8.094024999999993, 2.2350250000000136]
[19.587293375867844, 10.796175567648676, 52.79117282792266, 183.7584509101146, 100.3153166635391, 12.918608444361052, 64.87088789641587, 126.65806597860757, 12.990593375867888, 97.1061755676487]
[4.2204918183524525, 36.41378496903743, 0.08087401013323722, 26.464682229311382, 9.086508256708642, 55.717021955338815, 4.0627096265715785, 31.310923325201678, 42.58366990054404, 0.4564575717770606]
[0.004287558641395295, 0.5707492024769995, 3.4057944079564453, 4.475253312066014, 2.3885067367235804, 0.2260807093263183, 0.21667112028523108, 3.3654656408332215, 7.642573860011285, 2.0008683805592336]

In [99]:
index_lt = 0
total_lt = []
for index_data, data in enumerate(list_xijvkj2[0]):
    total_angka = 0
    for index_list, list_total in enumerate(list_xijvkj2):
        total_angka += list_xijvkj2[index_list][index_data]
        
    total_lt.append(total_angka)

for data in total_lt:
    print(data)

66.34971477226385
113.61252342835894
175.023449869542
623.9513808161099
326.57131195029456
165.20428502336304
220.85675418987987
518.2357251066343
233.33295495319882
303.91535667259586

In [100]:
ui1 = [[] for i in range(jumlah_cluster)]

for i in range(jumlah_cluster):
    for index_data, data in enumerate(total_lt):
        angka1 = list_xijvkj2[2 * i][index_data]
        angka2 = list_xijvkj2[2 * i + 1][index_data]
        total_angka = angka1 + angka2
        hasil = total_angka / data
        ui1[i].append(hasil)

for data in ui1:
    print(data)

[0.26952527565451756, 0.22809438642977198, 0.3020255401905457, 0.3019619159836648, 0.29841338166492, 0.2685929315096063, 0.38086247288375435, 0.36401596741195946, 0.37254512312382654, 0.35578754399966434]
[0.35516169351734006, 0.12518672467054115, 0.35561824583378715, 0.3199184055782919, 0.3404037717438027, 0.06150999971345374, 0.26390229316722014, 0.23338162894100425, 0.07843479972926024, 0.2999006632085899]
[0.016425689193090676, 0.22616041262138856, 0.020811636446425117, 0.034024941167532255, 0.018867623036103946, 0.25306943564812723, 0.04213514834412129, 0.09128759625616098, 0.27809033578610537, 0.01670905955032087]