In [2]:
import pandas as pd
import numpy as np

In [3]:
data_fuzzy = pd.read_csv('data_umur.csv')
data_fuzzy.head(10)

               Kelurahan  0-23 Bulan  24-59 Bulan  Total
0               Sepingan           5           12     17
1             Damai Baru           4           10     14
2          Damai Bahagia          17            9     26
3            Telaga Sari           3            7     10
4               Prapatan           2           15     17
5        Gunung Sari Ulu           3           13     16
6       Gunung Samarinda           6           11     17
7  Gunung Samarinda Baru           1            2      3
8               Baru Ulu           8           11     19
9         Klandasan Ilir           9           20     29

In [4]:
data_fuzzy = data_fuzzy.drop(['Kelurahan', 'Total'], axis=1)
data_fuzzy.head(10)

   0-23 Bulan  24-59 Bulan
0           5           12
1           4           10
2          17            9
3           3            7
4           2           15
5           3           13
6           6           11
7           1            2
8           8           11
9           9           20

In [5]:
bil_random = pd.read_csv('bilangan_random.csv')
bil_random.head(10)

    k1   k2
0  0.3  0.7
1  0.2  0.8
2  0.4  0.6
3  0.8  0.2
4  0.4  0.6
5  0.7  0.3
6  0.1  0.9
7  0.9  0.1
8  0.6  0.4
9  0.3  0.7

In [6]:
jumlah_cluster = 2
pangkat_pembobotan = 2
maksimum_iterasi = 13
toleransi_error = 0.01
fungsi_objektif = 0
iterasi_awal = 0
banyak_kolom = 2

# Mencari $uk^{2}$

In [7]:
uik2 = []
for index_list, list_data in bil_random.iterrows():
    uikw2 = []
    for index_data, data in enumerate(list_data):
        # print(data, end=' ')
        
        hitung = round(data ** pangkat_pembobotan, 2)
        uikw2.append(hitung)
    uik2.append(uikw2)

# Mencari Total $uk^2$

In [55]:
total_uiw = []

for kolom in range(len(data_fuzzy.columns)):
    total = 0
    for data in uik2:
        total += data[kolom]
        
    total_uiw.append(total)

print(total_uiw)

[2.85, 3.45]

# Mencari $uik*xij$

In [35]:
uikxij = []

for index_list, list_data in data_fuzzy.iterrows():
    uikw2xij : list = []
    for index_data, data in enumerate(uik2[index_list]):
        uikw2xij_list : list = []
        for index_data2, data2 in enumerate(list_data):
            # print(data, data2, end=',')
            hitung = round(data * data2, 2)
            uikw2xij_list.append(hitung)

        uikw2xij.extend(uikw2xij_list)
    uikxij.append(uikw2xij)

for data in uikxij:
    print(data)
    print()

[0.45, 1.08, 2.45, 5.88]

[0.16, 0.4, 2.56, 6.4]

[2.72, 1.44, 6.12, 3.24]

[1.92, 4.48, 0.12, 0.28]

[0.32, 2.4, 0.72, 5.4]

[1.47, 6.37, 0.27, 1.17]

[0.06, 0.11, 4.86, 8.91]

[0.81, 1.62, 0.01, 0.02]

[2.88, 3.96, 1.28, 1.76]

[0.81, 1.8, 4.41, 9.8]

# Membuat dataframe pusat $cluster V$

### Menentukan nama $uik^2$

In [10]:
nama_uik2 = []
for i in range(len(bil_random.columns)):
    nama_uik2.append(f'ui{i+1}w2')
    
print(nama_uik2)

['ui1w2', 'ui2w2']

### Menentukan nama $uik*xij$

In [40]:
nama_uikxij = []
for i in range(len(nama_uik2)):
    for j in range(len(nama_uik2)):
        nama = f"ui{i+1}wxi{j+1}"
        nama_uikxij.append(nama)

print(nama_uikxij)

['ui1wxi1', 'ui1wxi2', 'ui2wxi1', 'ui2wxi2']

### Memasukkan nama dan nilai ke dataframe

In [41]:
df_pusat_cluster = data_fuzzy.copy()
df_pusat_cluster = df_pusat_cluster.merge(bil_random, left_index=True, right_index=True)
df_pusat_cluster = df_pusat_cluster.merge(pd.DataFrame(uik2, columns=nama_uik2), left_index=True, right_index=True)
df_pusat_cluster = df_pusat_cluster.merge(pd.DataFrame(uikxij, columns=nama_uikxij), left_index=True, right_index=True)
df_pusat_cluster.head(10)

,0-23 Bulan,24-59 Bulan,k1,k2,ui1w2,ui2w2,ui1wxi1,ui1wxi2,ui2wxi1,ui2wxi2
0,5,12,0.3,0.7,0.09,0.49,0.45,1.08,2.45,5.88
1,4,10,0.2,0.8,0.04,0.64,0.16,0.40,2.56,6.40
2,17,9,0.4,0.6,0.16,0.36,2.72,1.44,6.12,3.24
3,3,7,0.8,0.2,0.64,0.04,1.92,4.48,0.12,0.28
4,2,15,0.4,0.6,0.16,0.36,0.32,2.40,0.72,5.40
5,3,13,0.7,0.3,0.49,0.09,1.47,6.37,0.27,1.17
6,6,11,0.1,0.9,0.01,0.81,0.06,0.11,4.86,8.91
7,1,2,0.9,0.1,0.81,0.01,0.81,1.62,0.01,0.02
8,8,11,0.6,0.4,0.36,0.16,2.88,3.96,1.28,1.76
9,9,20,0.3,0.7,0.09,0.49,0.81,1.80,4.41,9.80

# Mencari Total $uiwxi$

In [81]:
total_uiwxi = []
for nama in nama_uikxij:
    total = round(df_pusat_cluster[nama].sum(), 2)
    total_uiwxi.append(total)

print(total_uiwxi)

[11.6, 23.66, 22.8, 42.86]

# Mencari Pusat $Cluster V$

In [80]:
index_uiw = 0
pusat_cluster = [[] for i in range(jumlah_cluster)]
for index, data in enumerate(total_uiwxi):
    hitung = data / total_uiw[index_uiw]
    pusat_cluster[index_uiw].append(hitung)

    if index == len(total_uiwxi) - (2 + 1):
        index_uiw += 1

print(pusat_cluster)

[[4.0701754385964914, 8.301754385964912], [6.608695652173913, 12.4231884057971]]

# Menghitung Fungsi Objektifitas